In [1]:
import myqengine as qe

univ = qe.universe(universe_expr = 'FG_CONSTITUENTS(SP50,0,CLOSE)',universe_type ='Equity')
time_series = qe.time_series(start_date='-3M',end_date = '-3M')

formulas = ['P_PRICE(0,USD)','GICS_SECTOR']

q_req = qe.calculate(universe=univ, dates = time_series, formulas=formulas)

df = q_req.data

df

         DATE UNIVERSE  P_PRICE(0,USD)             GICS_SECTOR
0    20230428     CTAS          455.77             Industrials
1    20230428      RTX           99.90             Industrials
2    20230428      WEC           96.17               Utilities
3    20230428      MAA          153.80             Real Estate
4    20230428      AES           23.66               Utilities
..        ...      ...             ...                     ...
498  20230428     CARR           41.82             Industrials
499  20230428     OTIS           85.30             Industrials
500  20230428     MTCH           36.90  Communication Services
501  20230428     GEHC           81.34             Health Care
502  20230428      WBD           13.61  Communication Services

[503 rows x 4 columns]